*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url("back.jpg ") center no-repeat ;
}

.container{
    background-color: rgba(0,0,0, 0.6);
    color: white;
    font-size: 1.25rem;
    font-weight: 400;
    border: 0.3rem solid white ;
    border-radius: 2rem;
    padding: 3rem;
    min-height: 55vh;
    min-width: 30vw;
}
.container h2{
    text-align: center;
}
form{
    margin: 2rem 0 1rem 0;
}
form select, button, input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input{
    border: 1px solid white;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
}

.dropdown{
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-top: 2rem;
}

.dropdown i {
    font-size: 1.5rem;
    margin-top: 1rem;
  }

.select-container img{
    max-width: 2.5rem;
}

.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    border-radius: 0.5rem;
    border: 1px solid white;
    
}

.select-container select {
    font-size: 1rem;
    width: auto;
  }
  
  .msg {
    text-align: center;
    margin: 2rem 0 2rem 0;
  }
  
  form button {
    height: 3rem;
    background-color: #af4d98;
    color: #fff;
    font-size: 1.15rem;
    cursor: pointer;
  }